<li>{{yield node isExpanded}}</li>
{{#ember-tree/if-helper flag=isExpanded eager=eagerCreate}}
  {{#each children as |child|}}
    {{#ember-tree expandAction="expandChild" eagerCreate=eagerCreate node=child as |child isExpanded|}}
      {{yield child isExpanded}}
    {{/ember-tree}}
  {{/each}}
  {{#if showOnly}}
    <div class={{unless showRest 'hidden'}}>
      {{#each childrenRest as |child|}}
        {{#ember-tree expandAction="expandChild" showOnly=showOnly eagerCreate=eagerCreate node=child as |child isExpanded|}}
          {{yield child isExpanded}}
        {{/ember-tree}}
      {{/each}}
    </div>
    <div class={{unless showRest 'hidden'}}>
      {{#if childrenRest.length}}
        <a href="#" {{action 'showOther'}}>
          {{showOtherText}}
        </a>
      {{/if}}
    </div>
  {{/if}}
{{/ember-tree/if-helper}}
